<template>
  <div class="q-gutter-md q-pa-md text-center" >
    <div class="container linechart">
      <line-chart
        v-if="loaded"
        :chartData="chartdata"
        :options="options"/>
    </div>
  </div>
</template>

<script>
import LineChart from './Chart.vue'

export default {
  name: 'LineChartContainer',
  components: { LineChart },
  methods: {
  },
  data () {
    return {
      loaded: false,
      chartdata: null,
      options: {
        animation: {
          duration: 0
        },
        maintainAspectRatio: false
      }
    }
  },
  created () {
    this.loaded = false
    try {
      var clientId = Date.now()
      var ws = new WebSocket(`ws://192.168.0.7:8000/ws/${clientId}`)
      this.loaded = true
      ws.onmessage = (event) => {
        this.chartdata = JSON.parse(event.data)
      }
    } catch (e) {
      console.error(e)
    }
  }
}
</script>
<style scoped>
  .linechart {
    width: 800px;
    height: 200px;
  }
</style>
